<html>
<head>
    <title>Apache Web Server - RedHat</title>
</head>
<body>
    <h1>
        Thank you for using our services. Apache Web Server is now installed on this machine. 
        
    </h1>
    
    <p>
        <img src="RedHat.png" alt="Red Hat Logo" width="50" height="70" />
    </p>
</body>
</html>